<h2>Панель преподавателя</h2>
<button mat-button (click)="logout()">Logout</button> <!-- Кнопка для выхода -->

<mat-tab-group>
  <mat-tab label="Создать тест">
    <app-test-creation></app-test-creation>
  </mat-tab>
  <mat-tab label="Результаты">
    <table mat-table [dataSource]="results" class="full-width mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Студент</th>
        <td mat-cell *matCellDef="let r">{{ r.name }}</td>
      </ng-container>
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Баллы</th>
        <td mat-cell *matCellDef="let r">{{ r.score }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>
